<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form表单上传实例</title>
</head>
<body>
<form action="/" method="post" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="填写用户名">
    <input type="text" name="title" placeholder="填写标题">
    <input type="file" name="uploads" multiple><!--可以传递多个文件-->
    <input type="submit" value="上传">
</form>
</body>
</html>