<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>发送普通post请求demo</h1>
<form action="/post" method="post">
    <label>用户名:</label>
    <input type="text" name="username" placeholder="请填写用户名"><br>
    <label>密码:</label>
    <input type="text" name="password" placeholder="请填写密码"><br>
    <input type="submit" value="登录">
</form>

<h1>发送ajaxpost请求</h1>
<form id="post" action="" method="post">
    <label>用户名:</label>
    <input type="text" name="uname" placeholder="请填写用户名"><br>
    <label>留言:</label>
    <textarea cols="20" rows="10" name="content"></textarea>
    <label>上传头像：</label>
    <input type="file" name="avatar"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>
<script>
    window.onload = function(){
        let form = document.querySelector('#post');
        form.onsubmit = function(event){
            //阻止FORM表单的默认行为
            event.preventDefault();
            //发送ajax
            let xml = new XMLHttpRequest();
            xml.onreadystatechange = function(){
                if(xml.readyState == 4 ){
                    console.log(xml.responseText);
                }
            }
            //获取表单数据
            let inputValue = document.querySelector('input[name=uname]').value;
            let textValue = document.querySelector('textarea[name=content]').value;
            xml.open('POST','/mypost');
            //发送post请求，需要添加一个请求头字段
            //键值对的数据格式,以后再发送input表单数据的时候，要用这种键值对方式发送.
            //OBJ对象类型就是一个典型的键值对的数据结构。
            let obj = {
                uname:inputValue,
                content:textValue
            };
            let newObj = JSON.stringify(obj);
            //重点来了：如果你发送的数据是一个JSON字符串，需要将Content-type设置为application/json格式
            //如果你发送的数据是键值对这种形式的，那么需要将Content-type设置为application/x-www-form-urlencoded格式
            xml.setRequestHeader('Content-type','application/json');
            //所有的ajax请求数据只能发送字符串格式的数据类型.像对象类型是没有办法直接发送的.
            xml.send(newObj);//JSON格式.---长得像一个对象的字符串.

            //这是application/x-www-form-urlencoded这种格式的
            //xml.setRequestHeader('Content-type','application/x-www-form-urlencoded');
            //xml.send('uname=lzy&content=test');

            //formData,通常是用来进行文件的上传、头像的上传
            //koa-bodyparser不支持formData格式的发送.
            //let newFormData = new FormData();
            //newFormData.append('uname','lzy');
            //newFormData.append('content','test');
           //xml.setRequestHeader('Content-type','multipart/form-data');
            //xml.send(newFormData);
        }
    }
</script>


